<%- include('partials/header'); -%>

<header>
  <div >
    <img src="/logo.png" alt="">
  </div>
  <div class="headings">
    <h2>Donate For A Better World</h2>
  
    <a href="/donatable" class="btn">View Requests</a>
  </div>
</header>


<%- include('partials/footer'); -%>